body{
	background-image: url('https://wallpaperaccess.com/full/47127.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

@media (max-width: 1355px){
body{
   background-image: url('https://w0.peakpx.com/wallpaper/318/659/HD-wallpaper-galaxy-earth-space.jpg');
   background-repeat: repeat;
}
}


